.logged-time {
    width: 50px;
    margin-right: 5px;
}

.entry-table {
    width: 100%;

    tr {
        &.header {
            text-align: center;

            td {
                &.date {
                    background-color: #3e3e3e;
                    border-radius: 5px;

                    .day {
                        color: #c084da;
                    }
                }
            }
        }

        &.projects {
            td {
                text-align: center;

                &.date {
                    border: 1px dotted #4e4e4e;

                    &.weekend {
                        background-color: #484741;
                    }

                    &.today {
                        background-color: #87ff7d29;
                    }
                }

                span.total {
                    color: #8165b7;
                    font-family: monospace;
                }

                .time-editor {
                    display: block;
                    width: 100%;
                }
            }
        }
        
        &.totals {
            td {
                text-align: center;

                span.daily-sum {
                    font-family: monospace;
                    color: #94c9e761;
                }

                &.final-total {
                    font-family: monospace;
                    color: #fff;
                }

                &.add-button {
                    cursor: pointer;
                }
            }
        }
    }
}