<div fxLayout="column" fxLayoutAlign="start center" class="mc-flex">
  <div class="content-row">
    <h1 class="ui-navigation"><mat-icon routerLink="/">home</mat-icon> / Timesheet</h1>
  </div>

  <div class="content-row">
    <app-client-selector (changed)="clientSelected($event)" class="stretched"></app-client-selector>
  </div>

  <div class="content-row" *ngIf="projects.length > 0">
    <table class="entry-table">
      <tr class="header">
        <td>&nbsp;</td>
        <td>
          <!-- {{ date.entryDate | date:'shortDate' }} -->
          Hi
        </td>
        <td>&nbsp;</td>
      </tr>

      <tr *ngFor="let project of projects">
        <td>{{ project.projectName }}</td>
        <td >
          <!-- <app-time-entry-editor [date]="date" [project]="project" class="time-editor"></app-time-entry-editor> -->
          Hi
        </td>
        <td class="total">
          0
        </td>
      </tr>

      <tr class="totals">
        <td>&nbsp;</td>
        <td >0</td>
        <td>0</td>
      </tr>

      <tr class="controls">
        <td [attr.colspan]="colspan">
          <button mat-stroked-button (click)="addRow()">Add Row</button>
        </td>
      </tr>
    </table>
  </div>
</div>
