<div fxLayout="column" fxLayoutAlign="start center" class="mc-flex">
  <div class="content-row">
    <h1 class="ui-navigation"><mat-icon routerLink="/">home</mat-icon> / Timesheet</h1>
  </div>

  <div class="content-row">
    <app-client-selector (changed)="clientSelected($event)" class="stretched"></app-client-selector>
  </div>

  <div class="content-row" *ngIf="entries.length > 0">
    <table class="entry-table">
      <tr class="header">
        <td>&nbsp;</td>
        <td *ngFor="let entry of entries">{{ entry.entryDate | date:'shortDate' }}</td>
        <td>&nbsp;</td>
      </tr>

      <tr *ngFor="let project of projects">
        <td>{{ project.projectName }}</td>
        <td *ngFor="let entry of entries">
          <app-time-entry-editor [info]="entry" [project]="project" (onUpdate)="onEntryChange($event)" class="time-editor"></app-time-entry-editor>
        </td>
        <td class="total">
          0
        </td>
      </tr>

      <tr class="totals" *ngIf="projects.length > 0">
        <td>&nbsp;</td>
        <td *ngFor="let entry of entries">0</td>
        <td>0</td>
      </tr>

      <tr class="controls">
        <td [attr.colspan]="colspan">
          <button mat-stroked-button (click)="addRow()">Add Row</button>
        </td>
      </tr>
    </table>
  </div>
</div>
