.logged-time {
    width: 50px;
    margin-right: 5px;
}

.entry-table {
    width: 100%;

    tr {
        &.header {
            text-align: center;
        }

        &.controls {
            td {
                text-align: left;
            }
        }
        
        &.totals {
            td {
                text-align: center;
            }
        }

        td {
            &.total {
                text-align: center;
                color: rgb(240, 241, 143);
            }

            .time-editor {
                display: block;
                width: 100%;
            }
        }
    }
}