<div fxLayout="column" fxLayoutAlign="start center" class="mc-flex">
  <div class="content-row">
    <h1 class="ui-navigation"><mat-icon routerLink="/">home</mat-icon> / Timesheet</h1>
  </div>

  <div class="content-row">
    <app-client-selector (changed)="clientSelected($event)" class="stretched"></app-client-selector>
  </div>

  <div class="content-row" *ngIf="dates.length > 0">
    <button mat-stroked-button (click)="addRow()">Add Row</button>

    <table>
      <tr>
        <td>&nbsp;</td>
        <td *ngFor="let date of dates">Hi</td>
      </tr>
      <tr *ngFor="let project of projects">
        <td>{{ project.projectName }}</td>
        <td *ngFor="let date of dates">
          <mat-form-field appearance="outline" class="logged-time">
            <input matInput value="0">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
</div>
