<div fxLayout="column" fxLayoutAlign="start center" class="mc-flex">
  <div class="content-row">
    <h1 class="ui-navigation"><mat-icon routerLink="/">home</mat-icon> / Daily Tasks</h1>
  </div>

  <div class="content-row">
    <app-client-selector (changed)="clientSelected()" [(ngModel)]="clientId"></app-client-selector>
  </div>

  <div class="content-row data-table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
        <td mat-cell *matCellDef="">
          <a [routerLink]="['/clients', 'edit', clientId]">{{ clientName }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
        <td mat-cell *matCellDef="let task"> {{ task.taskName }} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp; </th>
        <td mat-cell *matCellDef="let task" class="controls">
          <button mat-icon-button [routerLink]="['/daily-tasks', 'edit', task.taskId]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons></mat-paginator>
  </div>

  <button mat-mini-fab color="primary" *ngIf="clientId > 0" class="add-task-fab" [routerLink]="['/daily-tasks', 'add', clientId]">
    <mat-icon>add</mat-icon>
  </button>
</div>
