<form class="edit-form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="stretched" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
    <!-- Start Time -->
    <div class="control-row">
      <h1>Start Time</h1>

      <div>
        <mat-form-field appearance="outline" class="date-picker" fxFlex>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" [formControl]="pickedDate" (dateChange)="dateChanged($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <mat-form-field appearance="outline" class="time-part" fxFlex>
          <mat-label>Hour</mat-label>
          <input matInput formControlName="hour" type="number" min="0" max="23" (change)="hourChanged()">
        </mat-form-field>
        <mat-form-field appearance="outline" class="time-part" fxFlex>
          <mat-label>Min</mat-label>
          <input matInput formControlName="min" type="number" min="0" max="59" (change)="minChanged()">
        </mat-form-field>
        <mat-form-field appearance="outline" class="time-part" fxFlex>
          <mat-label>Seconds</mat-label>
          <input matInput formControlName="seconds" type="number" min="0" max="59">
        </mat-form-field>
      </div>

      <div>
        <mat-slider thumbLabel tickInterval="1" min="0" max="23" formControlName="hour" (change)="hourChanged()" fxFlex="100px"></mat-slider>
        <mat-slider thumbLabel tickInterval="1" min="0" max="59" formControlName="min" (change)="minChanged()" fxFlex></mat-slider>
      </div>
    </div>

    <!-- Running Duration -->
    <div class="control-row">
      <h1>Running Duration</h1>

      <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <mat-form-field appearance="outline" class="time-part" fxFlex>
          <mat-label>Hours</mat-label>
          <input matInput formControlName="durationHour" type="number" min="0" max="23" (change)="durationHoursChanged()">
        </mat-form-field>
        <mat-form-field appearance="outline" class="time-part" fxFlex>
          <mat-label>Mins</mat-label>
          <input matInput formControlName="durationMin" type="number" min="0" max="59" (change)="durationMinsChanged()">
        </mat-form-field>
        <mat-form-field appearance="outline" class="time-part" fxFlex>
          <mat-label>Seconds</mat-label>
          <input matInput formControlName="durationSeconds" type="number" min="0" max="59" (change)="durationSecondsChanged()">
        </mat-form-field>
      </div>

      <div>
        <mat-slider thumbLabel tickInterval="1" min="0" max="12" formControlName="durationHour" (change)="durationHoursChanged()" fxFlex="100px"></mat-slider>
        <mat-slider thumbLabel tickInterval="1" min="0" max="59" formControlName="durationMin" (change)="durationMinsChanged()" fxFlex></mat-slider>
      </div>

      <div>
        <mat-form-field appearance="outline" class="notes">
          <mat-label>Timer Entry Notes</mat-label>
          <textarea matInput maxlength="512" placeholder="Notes here" formControlName="notes" (keyup)="notesChanged()" (change)="notesChanged()"></textarea>
        </mat-form-field>
      </div>
    </div>

    <!-- Calculated -->
    <div class="control-row calculated">
      <h1>Calculated Duration</h1>

      <div class="row">
        <strong>Duration</strong> <span fxFlex>{{ duration }}</span>
      </div>
      <div class="row">
        <strong>Start</strong> <span fxFlex>{{ startDate | date:'long' }}</span>
      </div>
      <div class="row">
        <strong>End</strong> <span fxFlex>{{ endDate | date:'long' }}</span>
      </div>
    </div>
  </div>
</form>
