<div>
  <app-client-selector [(ngModel)]="clientId" class="stretched"></app-client-selector>
</div>

<div>
  <app-product-selector [(ngModel)]="productId" [clientId]="clientId" class="stretched"></app-product-selector>
</div>

<div>
  <app-project-selector [(ngModel)]="projectId" [productId]="productId" (changed)="onProjectChange()" class="stretched"></app-project-selector>
</div>

<div>
  <button mat-stroked-button fxFlex (click)="startTimer()" [disabled]="projectId == 0">Start Timer</button>
</div>
