<div fxLayout="column" fxLayoutAlign="start center" class="mc-flex">
  <div class="content-row" *ngIf="!loggedIn">
    <h1 class="title">Login</h1>
  </div>

  <div class="content-row" fxLayout="column" fxLayoutAlign="start center" *ngIf="!loggedIn">
    <div class="login-form">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <mat-icon matSuffix>account_box</mat-icon>
        <input matInput [formControl]="username" type="text" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon matSuffix>lock</mat-icon>
        <input matInput [formControl]="password" type="password" required>
      </mat-form-field>

      <div class="controls">
        <button mat-stroked-button class="login" [disabled]="validCreds()" type="button" (click)="login()">Login</button>
      </div>
    </div>
  </div>

  <div class="content-row" *ngIf="loggedIn">
    <h1 class="title">Welcome, {{ currentUser?.firstName }}</h1>

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="8px">
      <app-home-card title="Home" icon="house">
        <button mat-stroked-button class="last-btn" [routerLink]="['/home']" fxFlex>Home</button>
      </app-home-card>

      <app-home-card title="Timesheet" icon="date_range">
        <button mat-stroked-button class="last-btn" [routerLink]="['/timesheet']" fxFlex>View</button>
      </app-home-card>
    </div>

    <div class="user-controls">
      <button mat-stroked-button class="logout" type="button" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
