<div fxLayout="column" fxLayoutAlign="start center" class="mc-flex">
  <div class="content-row">
    <h1 class="ui-navigation">
      <mat-icon routerLink="/">home</mat-icon> / 
      <a [routerLink]="['/timers']">Timers</a> /
      <a [routerLink]="['/timers', 'client', 1]">Client</a> /
      Product
    </h1>
  </div>

  <div>
    <ul>
      <li><a [routerLink]="['/timers', 'project', 1]">Project 1</a></li>
      <li><a [routerLink]="['/timers', 'project', 2]">Project 2</a></li>
      <li><a [routerLink]="['/timers', 'project', 3]">Project 3</a></li>
    </ul>
  </div>
</div>