.last-btn {
  margin-right: 0 !important;
}

.quick-links {
  margin-top: 16px;
}

.welcome p {
  text-align: center;
  font-size: 1.2em;
}
  .welcome p a {
    color: #ba72d8;
    font-weight: normal;
    text-decoration: none;
  }
    .welcome p a:hover {
      text-decoration: underline;
    }