<div fxLayout="column" fxLayoutAlign="start center" class="mc-flex">
  <div class="content-row welcome" *ngIf="!loggedIn">
    <h1 class="title">Welcome to Time Tracker</h1>
    <p>Please <a routerLink="/login">login</a>.</p>
  </div>

  <div class="content-row quick-links" *ngIf="loggedIn" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="8px">
    <app-home-card title="Clients" icon="group">
      <button mat-stroked-button class="last-btn" [routerLink]="['/clients']" fxFlex>Manage</button>
    </app-home-card>

    <app-home-card title="Products" icon="inventory_2">
      <button mat-stroked-button class="last-btn" [routerLink]="['/products', this.clientId]" fxFlex>Manage</button>
    </app-home-card>

    <app-home-card title="Projects" icon="work_outline">
      <button mat-stroked-button class="last-btn" [routerLink]="['/projects', this.clientId, this.productId]" fxFlex>Manage</button>
    </app-home-card>

    <app-home-card title="Timers" icon="alarm">
      <button mat-stroked-button class="last-btn" [routerLink]="['/timers']" fxFlex>View</button>
    </app-home-card>

    <app-home-card title="Daily Tasks" icon="done_all">
      <button mat-stroked-button class="last-btn" [routerLink]="['/daily-tasks']" fxFlex>Manage</button>
    </app-home-card>

    <app-home-card title="Overview" icon="hourglass_empty">
      <button mat-stroked-button class="last-btn" [routerLink]="['/timers', 'daily-overview']" fxFlex>View</button>
    </app-home-card>

    <app-home-card title="Timesheet" icon="date_range">
      <button mat-stroked-button class="last-btn" [routerLink]="['/timesheet']" fxFlex>View</button>
    </app-home-card>
  </div>

  <div class="content-row" *ngIf="loggedIn">
    <app-time-logger (onEvent)="timeLoggerEvent($event)"></app-time-logger>
  </div>
</div>
