/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 96%;
}

.mc-flex .content-row {
  width: 90%;
  min-width: 350px;
  max-width: 750px;
  display: inline-block;
}

.content-row h1 {
  text-align: center;
  margin-top: 8px;
}

.content-row .data-table {
  width: 100%;
}