<h1 mat-dialog-title>Timer Series</h1>
<div mat-dialog-content>
  <div class="mat-elevation-z8 entries">
    <table mat-table [dataSource]="dataSource" matSort class="data-table">
      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
        <td mat-cell *matCellDef="let timer"> {{timer.clientName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
        <td mat-cell *matCellDef="let timer"> {{timer.productName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
        <td mat-cell *matCellDef="let timer"> {{timer.projectName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="entryState">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
        <td mat-cell *matCellDef="let timer"> {{timer.entryState | entryState}} </td>
      </ng-container>
  
      <ng-container matColumnDef="entryEndTimeUtc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
        <td mat-cell *matCellDef="let timer"> {{timer.entryEndTimeUtc | date:'short'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="entryRunningTimeSec">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Length </th>
        <td mat-cell *matCellDef="let timer"> {{timer.entryRunningTimeSec | runningTimer}} </td>
      </ng-container>
  
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp; </th>
        <td mat-cell *matCellDef="let timer" class="options-td">
          <!-- <button mat-icon-button [routerLink]="['/products', client.clientId]">
            <mat-icon>inventory_2</mat-icon>
          </button>
          <button mat-icon-button [routerLink]="['/clients', 'edit', client.clientId]">
            <mat-icon>edit</mat-icon>
          </button> -->
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Ok</button>
</div> -->