<div fxLayout="column" fxLayoutAlign="start center" class="mc-flex">
  <div class="content-row">
    <h1 class="ui-navigation"><mat-icon routerLink="/">home</mat-icon></h1>
  </div>

  <div class="content-row" *ngIf="!loggedIn">
    Please log in
  </div>

  <div class="content-row" *ngIf="loggedIn" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="8px">
    <app-home-card title="Clients" icon="group">
      <button mat-stroked-button class="last-btn" [routerLink]="['/clients']" fxFlex>Manage</button>
    </app-home-card>

    <app-home-card title="Products" icon="inventory_2">
      <button mat-stroked-button class="last-btn" [routerLink]="['/products', this.clientId]" fxFlex>Manage</button>
    </app-home-card>

    <app-home-card title="Projects" icon="work_outline">
      <button mat-stroked-button class="last-btn" [routerLink]="['/projects', this.clientId, this.productId]" fxFlex>Manage</button>
    </app-home-card>
  </div>

  <div class="content-row" *ngIf="loggedIn">
    <app-date-time-editor *ngIf="timer" [(ngModel)]="timer"></app-date-time-editor>
    <app-time-logger (onEvent)="timeLoggerEvent($event)"></app-time-logger>
  </div>
</div>
