.data-table table {
  width: 100%;
}

.data-table table tr td.controls {
  width: 80px;
  text-align: center;
}

.data-table a {
  color: #f2d2ff;
  text-decoration: none;
}
  .data-table a:hover {
    cursor: pointer;
    color: #d778fd;
    text-decoration: underline;
  }