.timer-entry {
  border: 1px solid #303030;
  border-radius: 11px;
  margin-bottom: 5px;
}
  .timer-entry:hover {
    border: 1px solid #737373;
  }

  .timer-entry.running {
    background-color: #4fa24e1f;
  }

  .timer-entry .project {
    color: #edf395;
  }

  .timer-entry .time {
    font-size: 0.8em;
    margin-left: 4px;
    color: #e9bcfd;
  }

  .timer-entry .multi {
    padding-left: 3px;
    color: #a5deb6;
    font-size: 0.8em;
  }
    .timer-entry .multi:hover {
      color: #bbeace;
      cursor: pointer;
    }

  .timer-entry .pause:hover {
    color: #edef86;
    cursor: pointer;
  }

  .timer-entry .resume:hover {
    color: #92d689;
    cursor: pointer;
  }

  .timer-entry .stop:hover {
    color: #ff9191;
    cursor: pointer;
  }

.controls {
  text-align: right;
}
  .controls .refresh:hover {
    color: #a6d1f7;
    cursor: pointer;
  }

.checkbox-fix {
  padding-right: 4px;
  vertical-align: top;
  padding-top: 2px;
}