<div class="controls">
  <mat-icon class="refresh" (click)="refresh()">refresh</mat-icon>
</div>

<mat-list role="list">
  <mat-list-item role="listitem" [class]="getClass(timer)" *ngFor="let timer of timers">
    <span fxFlex>
      <span class="project">{{ timer.projectName }}</span>
      <span class="time">{{ timer.entryStartTimeUtc | runningTimer:timer.entryRunningTimeSec:flipFlop }}</span>
      <span *ngIf="timer.parentTimerId" class="multi" (click)="showSeries(timer)">(+)</span>
    </span>
    <mat-icon class="pause" (click)="pause(timer)" *ngIf="timer.entryState === 1">pause</mat-icon>
    <mat-icon class="resume" (click)="resume(timer)" *ngIf="timer.entryState === 2">play_arrow</mat-icon>
    <mat-icon class="stop" (click)="stop(timer)">stop</mat-icon>
  </mat-list-item>
</mat-list>