<div class="controls">
  <mat-checkbox [(ngModel)]="autoRefresh" class="checkbox-fix">
    Auto-Refresh
    <span class="countdown" *ngIf="autoRefresh">({{remaining}})</span>
  </mat-checkbox>
  <mat-icon class="refresh" (click)="refresh()">refresh</mat-icon>
</div>

<mat-list role="list">
  <mat-list-item role="listitem" [class]="getClass(timer)" *ngFor="let timer of timers">
    <span fxFlex>
      <span class="details" [matTooltip]="getTooltip(timer)" matTooltipPosition="right" matTooltipClass="details-tooltip">
        <span class="product">{{ timer.productName }}</span>
        <span class="project">{{ timer.projectName }}</span>
      </span>
      <span class="time">{{ timer | runningTimer:flipFlop }}</span>
    </span>
    <mat-icon class="pause" (click)="pause(timer)" *ngIf="timer.running">pause</mat-icon>
    <mat-icon class="resume" (click)="resume(timer)" *ngIf="!timer.running">play_arrow</mat-icon>
    <mat-icon class="resume" (click)="resumeSingleTimer(timer)" *ngIf="!timer.running && runningTimers">skip_next</mat-icon>
    <mat-icon class="stop" (click)="stop(timer)">stop</mat-icon>
    <mat-icon class="history" (click)="timerHistory(timer)">history</mat-icon>
  </mat-list-item>
</mat-list>